<!DOCTYPE html>
<html>
  <head>
    <title><%= error.status %>: <%= message %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="centered">
      <h1><%= error.status %></h1>
      <h2><%= message %></h2>
    </div>
  </body>
</html>



