<!DOCTYPE html>
<html>
  <head>
    <title>Api Key</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>The API Key generated is:
      <input type="text" value="<%= value %>" size="50">  
  </body>
</html>
