<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="centered">

      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p>You need to have a valid API KEY to use the <%= title %></p>
    </div>
  </body>
</html>
